body{
	margin: 0;
	font-family: sans-serif;
	line-height: 30px;
	background-color: #030303;
}
header{
	display: block;
	margin: 0px;
	padding: 20px;
	color: white;
	background-color: black;

	position: sticky;
	z-index: 1;
}

header h1{
	display: inline-block;
}


h1,h2{
	font-family: 'Atma', cursive;
	font-size: 35px;
	color:white;
}



header a{
	display: inline-block;
	color: white;
	float: right;
	margin: 15px;
	padding: 5px;
	text-decoration: none;
	transition: all .1s linear;
}

header a:hover{
	
	transform: translateY(-10px) scale(1.5,1.5);
	
}

.bigbox1{
	width:80%;
	height:700px;
	padding: 20px 20px 20px 20px;
	display: block;
	background-image: url(https://images.unsplash.com/photo-1589904072217-0b4f1081a4a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
	margin: auto;
	margin-top: 10px;
	
}

.bigbox1:hover{
	text-decoration: underline;

}


.box1{
	width:40%;
	height: 200px;
	display: inline-block;
	float: left;
	transition: all 0.1s linear;
}

.box1:hover{
	font-weight: bold;
	transform: translateY(-20px) ;
}

.box2{
	width: 40%;
	height: 400px;
	margin-right: 20px;
	margin-top: 60px;

	display: inline-block;
	background-image : linear-gradient(to right, rgb(3, 3, 3),rgb(181, 182, 185));
	float: right;
	transition: all 0.1s linear;
}

.box2:hover{
	transform: translateX(-20px) scale(1.1, 1.1);
}


.bigbox2{
	width:auto;
	height: 550px;
	padding: 20px 20px 50px 100px;
	display: block;
	background-image: url(https://images.unsplash.com/photo-1589790852378-ba9798083481?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
.box3{
	width:600px;
	height: 200px;
	display:inline;
	margin: 20px;
	
	float: left;
}
.box4{
	width: 400px;
	height: 400px;
	margin: 20px;
	display: inline;
	background-color: yellow;
	float: right;
}

img{
	height: 400px;
	width: 450px;
}

footer{
	display: block;
	color: white;
	
	font-size: 15px;
	background-color:black;
	padding: 27px;
}
footer p{
	
	margin: 0;
	
}
footer a{
	color: #696969;
	float: right;
	transition: all 0.1s linear;
}

footer a:hover{
	transform: scale(1.1,1.1);
}

footer img{
	border-radius: 5px;
	width: 30px;
	height: 30px;
	margin: 5px;
	
}