header{
	display: block;
	margin: 0px;
	padding: 20px;
	color: white;
	background-color: black;

	position: sticky;
	z-index: 1;
}

header h1{
	display: inline-block;
}



header a{
	display: inline-block;
	color: white;
	float: right;
	margin: 15px;
	padding: 5px;
	text-decoration: none;
	transition: all .1s linear;
}

header a:hover{
	
	transform: translateY(-10px) scale(1.5,1.5);
	
}

.bigbox1{
	width:auto;
	height: 350px;
	padding: 20px 20px 50px 50px;
	text-align: center;
	box-sizing: border-box;
	display: block;
	background-image : linear-gradient(to right, rgb(181, 182, 185), rgb(3, 3, 3));
	
	margin: auto;
	
}


.box1{
	width:auto;
	height: 200px;
	display: inline-block;
	margin-left: 10px;
	
	float: left;
	transition: all 0.1s linear;
}

.box1:hover{
	transform: translateX(20px) scale(1.1, 1.1);
}

.box2{
	width: 200px;
	height: 200px;
	margin: 20px;
	display: inline-block;
	background-image : linear-gradient(to right, rgb(3, 3, 3),rgb(181, 182, 185));
	
	float: right;
	transition: all 0.1s linear;
}
.box2:hover{
	transform: translateX(-20px) scale(1.1, 1.1);
}


.bigbox2{
	width: auto;
	height: 300px;
	box-sizing: border-box;
	display: block;
	background-color: grey;
	margin: auto;
}
.box3{
	width: auto;
	height: 200px;
	display:inline;
	margin: 20px;
	
	float: left;
}
.box4{
	width: 200px;
	height: 200px;
	margin: 20px;
	display: inline;
	background-color: yellow;
	float: right;
}

img{
	height: 200px;
	width: 200px;
}

footer{
	background-color: black;
	color: white;
	padding: 20px;
}
